<div style="overflow: auto; margin-top: 0.7vw;">
  <div style="width: 22vw; float: left">
  <mat-card class="boxShadowAnswerComp">
    <mat-card-title>{{event.title}}</mat-card-title>
    <hr>
    <mat-card-content>Description: {{event.description}}
      <br>
      Location: {{event.location}}
      <br>
      Host: {{user}}
    </mat-card-content>
  </mat-card >
    <mat-card class="boxShadowAnswerComp">
      <mat-card-title>Answer options</mat-card-title>
      <mat-card class="boxShadowAnswerComp">
        <mat-icon>clear</mat-icon> = Cannot attend
      </mat-card>
      <mat-card class="boxShadowAnswerComp">
        <mat-icon><span>&#63;</span></mat-icon> = Tentative
      </mat-card>
      <mat-card class="boxShadowAnswerComp">
        <mat-icon>done</mat-icon> = Available
      </mat-card>

    </mat-card>

  </div>
<div style="width: 70vw; margin-left: 2vw;" >
  <mat-card style ="background: whitesmoke; overflow:auto;" class="boxShadowAnswerComp">
    <table>
      <tr>
        <td *ngFor="let dates of tempDates">
          <mat-card class="boxShadowAnswerComp">
            {{dates}}
          </mat-card>
        </td>
      </tr>
      <tr *ngFor="let key of AnswerDictionary.keys()">
        <td>
          <mat-card class="boxShadowAnswerComp">{{key}}</mat-card>

        </td>
        <td *ngFor="let answer of AnswerDictionary.get(key)">
          <mat-card *ngIf="answer == 0" class="answerMatCards" >
            <mat-icon>clear</mat-icon>
          </mat-card>
          <mat-card *ngIf="answer == 1" class="answerMatCards" >
            <mat-icon><span>&#63;</span></mat-icon>
          </mat-card>
          <mat-card *ngIf="answer == 2" class="answerMatCards" >
            <mat-icon>done</mat-icon>
          </mat-card>
        </td>
      </tr>
      <hr style="width: 80%!important;">
      <tr>
        <td>
          <mat-card class="boxShadowAnswerComp">YOU</mat-card>

        </td>
        <td *ngFor="let a of response; let index = index">
          <mat-card *ngIf="response[index] == 0" class="myAnswerMatCards" (click)="changeResponse(index)">
            <mat-icon>clear</mat-icon>
          </mat-card>
          <mat-card *ngIf="response[index] == 1" class="myAnswerMatCards"  (click)="changeResponse(index)">
            <mat-icon><span>&#63;</span></mat-icon>
          </mat-card>
          <mat-card *ngIf="response[index] == 2" class="myAnswerMatCards"  (click)="changeResponse(index)">
            <mat-icon>done</mat-icon>
          </mat-card>

        </td>
      </tr>
    </table>
  </mat-card>

</div>
</div>
<div *ngIf="http.IsUser">
  <h1>Welcome {{user}}</h1>
  <button class="CreateButton" (click)="GenerateInviteLink()"> InviteLink</button>
  <div *ngFor="let evnetSlot of event.eventSlots">
    {{evnetSlot.slotAnswers}} has Answer
  </div>
  <h3>Dette er dit InviteLink: {{InviteLink}}</h3>
</div>

