<div style="overflow: hidden; margin-top: 1.4vw; height: 80vh">
  <div style="width: 22vw; float: left;" class="boxShadowAnswerComp">
    <mat-card style="background: transparent; height: fit-content">
      <mat-card-title>{{event.title}}</mat-card-title>
      <hr>
      <mat-card-content>Description: {{event.description}}
        <br>
        Location: {{event.location}}
        <br>
        Host: {{user}}
      </mat-card-content>
      <br>
      <mat-card-title>Answer options</mat-card-title>
      <mat-card-title>X = Cannot attend</mat-card-title>
      <mat-card-title>? = Tentative</mat-card-title>
      <mat-card-title>✔ = Available</mat-card-title>
    </mat-card>
  </div>
  <div
    style=" margin: 0 0.8vw;padding:0.6vw; background: whitesmoke;float: left;width: fit-content; max-width: 70vw;  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);">
    <div
      style="overflow: auto;  max-height: 75vh;">
      <table id="AnswerTable">
        <tr style="background: whitesmoke;z-index: 5;top: 0; position: sticky;">
          <th *ngFor="let dates of Dates">
            <mat-card class="centerAllignText" style=" background: whitesmoke; border-style: none; box-shadow:none">
              <mat-card-title style="width: 4vw; height: 15vh; font-size: 16px;">{{dates}}</mat-card-title>
            </mat-card>
          </th>
        </tr>
        <tr id="Answers">
          <td style="left: 0; position: sticky;z-index: 4;">
            <mat-card class="centerAllignText" style=" background: whitesmoke; border-style: none; box-shadow:none">
              <mat-card-title class="matTitleCardAnswer">YOU</mat-card-title>
            </mat-card>
          </td>
          <td *ngFor="let a of response; let index = index">
            <mat-card style="background: rgba(255,46,46,0.4);" *ngIf="response[index] == 0"
                      class="myAnswerMatCards , answerMatCards , centerAllignText" (click)="changeResponse(index)">
              <mat-card-title class="matTitleCardAnswer"> X</mat-card-title>
            </mat-card>
            <mat-card style="background: rgba(255,203,70,0.4);" *ngIf="response[index] == 1"
                      class="myAnswerMatCards , answerMatCards , centerAllignText" (click)="changeResponse(index)">
              <mat-card-title class="matTitleCardAnswer"> ?</mat-card-title>
            </mat-card>
            <mat-card style="background: rgba(84,255,46,0.4);" *ngIf="response[index] == 2"
                      class="myAnswerMatCards , answerMatCards , centerAllignText" (click)="changeResponse(index)">
              <mat-card-title class="matTitleCardAnswer">✔</mat-card-title>
            </mat-card>

          </td>
        </tr>
        <br>
        <tr *ngFor="let key of AnswerDictionary.keys()">
          <td style="left: 0; position: sticky; z-index: 4;">
            <mat-card class="centerAllignText" style=" background: whitesmoke; border-style: none; box-shadow:none">
              <mat-card-title class="matTitleCardAnswer">{{key.userName}}</mat-card-title>
            </mat-card>
          </td>


          <td *ngFor="let answer of AnswerDictionary.get(key)">
            <mat-card *ngIf="answer == 0" class="centerAllignText"
                      style="background: rgba(255,46,46,0.4);">
              <mat-card-title class="matTitleCardAnswer"> X</mat-card-title>
            </mat-card>
            <mat-card *ngIf="answer == 1" class="centerAllignText"
                      style="background: rgba(255,203,70,0.4);">
              <mat-card-title class="matTitleCardAnswer"> ?</mat-card-title>
            </mat-card>
            <mat-card *ngIf="answer == 2" class="centerAllignText"
                      style="background: rgba(84,255,46,0.4);">
              <mat-card-title class="matTitleCardAnswer">✔</mat-card-title>
            </mat-card>
          </td>
        </tr>
        <br>
      </table>
    </div>
    <button id="saveButton" class="SaveSlotAnswerButton" style="float:right; margin-right: 10px" (click)="SaveSlotAnswers()">Save Answers
    </button>
    <button  (click)="GenerateInviteLink()" class="SaveSlotAnswerButton" style="float:right"> Link Generator</button>

  </div>
</div>


