.answerMatCards{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
}

.myAnswerMatCards{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
}
.myAnswerMatCards:hover{
  transform: scale(120%);
}

.boxShadowAnswerComp{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  background-color: whitesmoke;
}
