.answerMatCards{
}

.myAnswerMatCards{

}
.myAnswerMatCards:hover{
  cursor: pointer;
}

.boxShadowAnswerComp{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  background-color: whitesmoke;

}

.centerAllignText{
  text-align: center;
}
.matTitleCardAnswer{
  height: 4vh;
  padding-top: 10px
}
