<div style="width: 55vw; margin-left: 2vw; margin-top: 0.7vw;">
  <mat-card style ="background: whitesmoke; overflow:auto">
    <table>
      <tr>
        <td *ngFor="let dates of tempDates">
          <mat-card>
            {{dates}}
          </mat-card>
        </td>
      </tr>
      <tr *ngFor="let key of AnswerDictionary.keys()">
        <td>
          <mat-card>{{key}}</mat-card>

        </td>
        <td *ngFor="let answer of AnswerDictionary.get(key)">
          <mat-card *ngIf="answer == 0" >
            <mat-icon>clear</mat-icon>
          </mat-card>
          <mat-card *ngIf="answer == 1" >
            <mat-icon><span>&#63;</span></mat-icon>
          </mat-card>
          <mat-card *ngIf="answer == 2" >
            <mat-icon>done</mat-icon>
          </mat-card>
        </td>
      </tr>
      <hr style="width: 80%!important;">
      <tr>
        <td>
          <mat-card>YOU</mat-card>

        </td>
        <td *ngFor="let a of response; let index = index">
          <mat-card *ngIf="response[index] == 0" (click)="changeResponse(index)">
            <mat-icon>clear</mat-icon>
          </mat-card>
          <mat-card *ngIf="response[index] == 1" (click)="changeResponse(index)">
            <mat-icon><span>&#63;</span></mat-icon>
          </mat-card>
          <mat-card *ngIf="response[index] == 2" (click)="changeResponse(index)">
            <mat-icon>done</mat-icon>
          </mat-card>

        </td>
      </tr>
    </table>
  </mat-card>

</div>

<div *ngIf="http.IsUser">
  <h1>Welcome {{user}}</h1>
  <button class="CreateButton" (click)="GenerateInviteLink()"> InviteLink</button>
  <div *ngFor="let evnetSlot of event.eventSlots">
    {{evnetSlot.slotAnswers}} has Answer
  </div>
  <h3>Dette er dit InviteLink: {{InviteLink}}</h3>
</div>

