<div class="parentDiv">
  <mat-card>
    <mat-card-title>
      Log in
    </mat-card-title>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="email" matInput>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="password" matInput [type]="'password'">
    </mat-form-field>

    <button mat-raised-button (click)="http.Login({email: email, password: password, KeepMeLoggedIn: KeepMeLoggedIn})">Log in</button>
    <mat-checkbox [ngModel]="KeepMeLoggedIn" style="margin-left: 1vw">Keep me logged in</mat-checkbox>
    <button mat-raised-button style="margin-left: 15px; float: right" routerLink="/Register">Register</button>
  </mat-card>

</div>
