<mat-toolbar class="Header">
  <span class="headerSpan" routerLink="/Home">We All Plan </span>

  <button mat-icon-button [matMenuTriggerFor]="menu" [ngSwitch]="http.IsUser">
    <mat-icon *ngSwitchCase="false" class="HeaderMenuAnonymous"></mat-icon>
    <mat-icon *ngSwitchCase="true" class="HeaderMenuLoggedIn"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/Login" *ngIf="!http.IsUser"> <!--User is NOT logged in-->
      <span>Log in</span>
    </button>
    <button mat-menu-item routerLink="/Register" *ngIf="!http.IsUser"> <!--User is NOT logged in-->
      <span>Register</span>
    </button>
    <button mat-menu-item routerLink="/Dashboard" *ngIf="http.IsUser"> <!--User is logged in-->
      <span>Dashboard</span>
    </button>
    <button mat-menu-item (click)="logOut()" *ngIf="http.IsUser"> <!--User is logged in-->
      <span>Sign out</span>
    </button>
  </mat-menu>
</mat-toolbar>





<router-outlet></router-outlet>
