.parentDiv {
  margin: 1vw;
}

.calenderDiv {
  width: 70vw;
  margin-top: 1vw;
  float: left;
}

.eventSlotsDiv {
  width: 27vw;
  float: right;
}

.eventSlotMatCard {
  margin-top: 5.3vw;
  background-color: whitesmoke;
}
