<div class="parentDiv">

  <div class="calenderDiv">

    <div class="col-md-4" style="margin-bottom: 0.5vw">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Month
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Week
        </div>
      </div>
      <div class="btn-group" style="float: right;">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
          Next
        </div>
      </div>
    </div>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>

    </div>

  </div>

  <div class="eventSlotsDiv">
    <mat-card class="eventSlotMatCard">
      <mat-card-title>
        Start time
      </mat-card-title>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Time</mat-label>
          <input type="text"
                 placeholder="Pick a time"
                 aria-label="Time"
                 matInput
                 [formControl]="myControlStartTime"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <mat-card-title>
        End time
      </mat-card-title>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Time</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControlEndTime"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </mat-card>
  </div>

</div>
