.EventView {
  background-color: whitesmoke;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.7%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.CreateButton {
  border-radius: 50%;
  font-size: 55px;
  color: #32c200;
  background: rgba(0, 0, 0, 0);
  border: 1px rgb(255, 255, 255);
  width: 70px;
  align-content: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.CreateButton:hover {
  cursor: pointer;
  background-color: whitesmoke;
  transform: scale(120%);

}

.InvisibleButtonBackground {
  background: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 50%;

}

.InvisibleButtonBackground:hover {
  transform: scale(120%);
  cursor: pointer;
}

.HeaderCard {
  background-color: whitesmoke;
  margin-left: 5.5%;
  margin-top: 10px;
  margin-right: 32%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

/* width */
::-webkit-scrollbar {

  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #949393;
  border-radius: 10px;
}
