<div class="HomeDivMainContent">
  <div class="HomeDivMainContentLeft">
  <div style="height: 9vw">
  </div>
  <div class="HomeDivCalenderText">
    <button class="WAPButton">We All Plan 📅</button>
    <div style="padding-top: 1vw">
      Let us help you, and your friends, plan any event.
      <br>
      <br>
      Plan your events with your friends or family and find a time that fits everyone.
      <br>
      <br>
      Simply put WAP is planning made easy 😎
    </div>

  </div>
</div>
  <div class="HomeDivMainContentRight">
  <div style="height: 9vw">
  </div>
  <div>
    <button (click)="TryWAP()" class="saveButton" style="margin: 2vw auto; display: block">Try it free 👉</button>
  </div>
  <div class="HomeDivCalenderPicture" style="float: left">
  </div>
</div>
</div>
