<div class="parentDiv">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input [(ngModel)]="Email" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input [(ngModel)]="Name" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input [(ngModel)]="Password" matInput [type]="'password'">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Repeat Password</mat-label>
    <input [(ngModel)]="RepeatedPassword" matInput [type]="'password'">
  </mat-form-field>

  <div class="registerInteractables">
    <button mat-raised-button (click)="Register()">Register</button>
    <button mat-raised-button (click)="GeneratePassword()"> Generate Password </button>
    <mat-icon *ngIf="newGeneratePassword != '' " (click)= "CopyToClipboard()"> file_copy</mat-icon>
    <mat-icon *ngIf="newGeneratePassword != '' " (click)= "ShowPassword()">lock</mat-icon>
    <mat-card *ngIf="hidePassword">
      <mat-card-content style="font-size: 17px"> {{newGeneratePassword}} </mat-card-content>
    </mat-card>
  </div>

</div>


